a:hover{
    
}
.nav-link{
    color: #312e81 !important;
    font-size: 18px !important;
}

.pic-1{
    height: auto;
    width: 100%;
}

.section-1{
    margin-top: 226px;
    margin-bottom: 226px;
}

.custom-h1{
    font-size: 60px;
    font-weight: 900;
}

.custom-h3{
    color: #312e81 !important;
    font-size: 40px;
    font-weight: 700;
}

.custom-margin{
    padding: 20px;
    margin: 40px;
    color: white;
}

.custombtn{
    background-color: aliceblue;
    color: rgb(8, 8, 8);
    border-radius: 20px !important;
}
